<div class="container">
    <div class="box1">
        <button class="button" (click)="playTrack1()">Play Song</button>
        <button class="button" (click)="playTrack2()">Play Song</button>
        <button class="button" (click)="playTrack3()">Play Song</button>
    </div>
    <div class="box2">
        <span class="artistBox">
            <img id="artist1" src="https://i.scdn.co/image/ab67616100005174df0b5ac84376a0a4b2166816"/>
            <h2>The Neighborhood</h2>
        </span>
        <span class="artistBox"><img id="artist2" src="https://i.scdn.co/image/ab67616100005174811da3b2e7c9e5a9c1a6c4f7"/><h2>Linkin Park</h2>
        </span>
    </div>
</div>